nav{
				width: 100%;
				background-color: #6699ff;
			}
			.aha ul{
				padding: 0;
				margin: 0;
				margin-left: 80px;
			}
			.aha ul:before,
			.aha ul:after{
				content: "";
				display: table;
				clear: both;
			}
			.aha ul li{
				list-style: none;
				display: inline-block;
				float: left;
				line-height: 50px;
			}
			.aha ul li a{
				color: white;
				text-decoration: none;
				padding: 0 20px;
				display: block;
				width: 150px;
				text-align: center;
			}
			.aha ul li a:hover{
				background-color: #66ff99;
			}
			.mydiv{
				background-color: #66ff99;
				width: 60%;
				margin: 0 auto;
				text-align: justify;
			}
			aside{
				float: right;
				width: 50%;
				margin: 10px;
			}
			.aha{
				
			}
			.ef{
				margin: 20px;
			}